/*
  @author 你好2007
  2020年6月13日于南京
*/

div.open-code-editor.folder {
    ul {
        margin-left: 1em;

        li {
            line-height: 2em;
            color: #828181;
            cursor: pointer;

            &[hadopen='no'] {
                &>ul {
                    display: none;
                }
            }

            &>span {
                background-image: url(../images/icon@default.png);
                background-repeat: no-repeat;
                padding-left: 25px;
            }

            &[type='file'] {
                &>span {
                    background-position-y: 2px;
                }

                &:not([icon-lang='Plain']) {
                    &>span {
                        background-position: 5px center;
                    }

                    &[icon-lang='JavaScript']>span {
                        background-image: url(../images/file-icons/JavaScript.png);
                    }

                    &[icon-lang='CSS']>span {
                        background-image: url(../images/file-icons/CSS.png);
                    }

                    &[icon-lang='HTML']>span {
                        background-image: url(../images/file-icons/HTML.png);
                    }

                    &[icon-lang='JSON']>span {
                        background-image: url(../images/file-icons/JSON.png);
                    }

                    &[icon-lang='SASS']>span {
                        background-image: url(../images/file-icons/SASS.png);
                    }

                    &[icon-lang='Image']>span {
                        background-image: url(../images/file-icons/Image.png);
                    }
                }
            }

            &[type='folder'] {
                &>span {
                    background-position-y: -42px;

                }

                &[hadopen='yes'] {
                    &>span {
                        background-position-y: -81px;

                    }
                }
            }


        }
    }

    &>ul {
        margin-left: 0;
    }
}